<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CategoryFilePath" value="C:\\Websites\\ImagesAndAttachments\\attachments\\media\\html_feature_blocks\\category" />
    <add key="SubCategoryFilePath" value="C:\\Websites\\ImagesAndAttachments\\attachments\\media\\html_feature_blocks\\Sub-Category" />
    <add key="SecurityKey" value="WAGNER@123@dm1n" />
    <add key="SecurityKeypassword" value="WES@123@dm1n" />

    <add key="EasyAsk_URL" value="172.30.20.50" />
    <add key="EasyAsk_Port" value="9200" />
    <add key="EasyAsk_WebCatDictionary" value="webcat" />
    <add key="EasyAsk_WesCatBrandDictionary" value="wesCatBrand" />
    <add key="SalesTax" value="12" />
    <add key="Currency" value="$" />
    <add key="GoogleMerchantID" value="161916588320663" />
    <add key="GoogleMerchantKey" value="opqwMzfVUH4MFkdGyMNC1w" />
    <add key="GoogleEnvironment" value="Sandbox" />
    <add key="StringTemplatePath" value="search\\templates\\type1\\" />
    <add key="MicroTemplatePath" value="templates\\microsite\\" />
    <add key="REQUIRE_LOGIN" value="YES" />
    <add key="WEBSITEID" value="3" />
    <add key="WES_CATALOG_ID" value="2" />
    <add key="WESNEWS_CATEGORY_ID" value="WESNEWS" />
    <add key="EA_ROOT_CATEGORY_PATH" value="AllProducts////WESAUSTRALASIA" />
    <add key="EA_NEW_PRODUCT_INIT_CATEGORY_PATH" value="AllProducts////WESAUSTRALASIA" />
    <add key="IMGPATH" value="ProdImages" />
    <add key="CONVERTED" value=".ai, .psd, .cdr, .cpt, .gif, .tiff, .eps, .bmp" />
    <add key="DOWNLOABLE" value=".doc, .xls, .pdf, .docx, .xlsx" />
    <add key="QuickOrderBoxCount" value="99" />
    <add key="MaxFileSize" value="1024" />
    <add key="MyFileName" value="Sample.xls" />
    <add key="FIXED_TAX" value="true" />
    <add key="FIXED_TAX_PERCENTAGE" value="10" />
    <add key="INVOICE_NO_OF_TIME_TRY" value="5" />
    <add key="INVOICE_WAIT_TIME" value="1000" />
    <add key="SSL_ACTIVE" value="0" />
    <!-- Local checking only -->
    <add key="FromMail" value="girish@jtechindia.com" />
    <add key="ToMail" value="girish@jtechindia.com" />
    <add key="SP_ID1" value="KipMD9BztA8=" />
    <add key="SP_ID2" value="BHLKeRIstKunXulzA7JLDA==" />
    <add key="SP_ID3" value="8t2P1Bk8yz1TlahXKnnSjSYd2NL9VGLYDEYoDYaUNj08LiSyPAyegvp/fzQWaYcn" />

    <add key="KEYWORDTXTFILE" value="KeywordsFile.txt" />

    <add key="DUM_USER_ID" value="999" />
    <add key="DUM_Price_Code" value="1" />
    <add key="tempfile" value="\IMGTEST\OCT09-10-13\18-Auto.pdf" />
    <!-- Active Campaign -->
    <add key="AC_Url" value="http://wagneronline.api-us1.com/admin/api.php?" />
    <add key="AC_Api_Key" value="b3a56723865b3fa7d3656f374c52e1123005e4a72fda25a3caebf2a906239b9e23b0b79b" />
    <add key="AC_List_Id" value="1" />
    <add key="AC_List_From_id" value="1090" />
    <add key="login" value="yes" />
    <add key="DEFAULTPAY" value="PPAPI" />
    <add key="bccemail" value="webadmin@wagneronline.com.au" />

    <!--au test-->
    <add key="P_ID1" value="zEt5UH0g2/HIVBUdN/CL3s+DcGzsDVlXg9Ehb2xPnqFE2itoB3lxmcD9dWJLrnn0lpN2EFjbQQ2bq+MPCjSUodpH4Ya8pWisUkTDi5A+pD+bmpL33WzMh87JIT4hVafFbAJp5hZLQhJTKhqFTB7xAAHAhLTxVA8ufBP7dJyGagyhcvFgrFHXrPL+8nw4QNvihKrSDcmU/jo+7eKHkD8fmlFnEnsSQCCw9EQDxgKMv3Ex/R6Ader+VrHHv3H0t5cWp17pcwOySww=" />
    <add key="P_ID2" value="CFqkGTdU18Q1ha31gnKR/A5ti4LKqpzHUhDBxb3pffMkN9USOs0a+1eh4EpFb+lTlclxPipFL/OnPLWgTw+QFlcGocYbFkvAgWQEKieY3IhO9EVTFxd9o0QjpoCij/rbPBBLEc8uZwGBG+v6ybKbsBxUBz3cFSN5Y2raJbQHl26nXulzA7JLDA==" />
    <add key="P_ID3" value="grLEvGBiaVj2HA8uNzrNlAmunuekr8d4AOTfXNCS08d5xwbGUROLo404aJCorYmpovw6jE/q4NNhhqxq7ACTYRC+3GtAs0OL5TFyuEkSzets2y0AROsL8DbHMFbyrkKn1ZhpBwnh47x9SxzEFXN+GuK2lR+Iyu2Im9me61NBOYIheZij9r6BcXlNYBfvybCy9zz20KCKM6whtMgVPlQQKpvsGEUvj9pPx1XSwbKk/ue5PHAFyTJRNTnBE9+xDbK2dzzxSSMyftl5BPOvO+vNRNF2JTswOuGb5NXvmKW77/h3JROJ6OPCmG4UGRGDVjryHFQHPdwVI3ljatoltAeXbqde6XMDsksM" />
    <add key="P_ID4" value="test" />
    <add key="P_ID5" value="CFqkGTdU18R9zhlky7nXYIN/Dvz5prF5verkVzj1IhyhMx4HRZobTQlcMYuI2jhwz5BcFao60WJsd5kB9hBqrxMWtSQSrKUzXpr6lNwzEf9dFg638mBzaf6U+83UFC0qyAWcqTdw4pyo4JBX55dtlhFA5uf76DUUVm4rVYHP/7oCT4Vdlpl5Zc9gH3otqFL9" />
    <add key="P_ID6" value="MTYFaRbFnvEj75KM0h7BCWd4I3Ka1wZInk2/jkB5YybaB4Kw4qC+HAHdjx6CRTDUH/6HneHE3gk1lsodfX5FHJF6yDfyw1XSzSfJ77vVpevioVwhsoM35GNq2iW0B5dup17pcwOySww=" />
    <add key="P_ID7" value="IuDPOyHzZTCcVvHYzzwHAFtrWwZyhH2l4yEiwu87JjWfsqpZZw7FMD3Q0k0U/zDBG58V6DTVKbItJBtUvCm4XaIYsprJgCZuSiErFxWsjWS97CtVOdAxpzUxkDzRFrt/H3wZomkPPqyBl+mJV8H1S1uYjIJ7zEIddeqsxtdnC7K6J0uMQywPTamioua3C6fRf6ErY2KZZ14f5Swv51fo8HxVJbmnb39ooKD4LAtmcpKGC+466tF0au4GwjLzKz705Elib++frqBwT1ssjSJnoSUAoX2QqKQy5NXvmKW77/h3JROJ6OPCmG4UGRGDVjryHFQHPdwVI3ljatoltAeXbqde6XMDsksM" />
    <add key="P_ID8" value="T" />
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr" />
    <add key="JSVersion" value="9" />
    <add key="CSSVersion" value="10" />
    <add key="performance" value="1" />
    <add key="CurrentUrl" value="http://localhost:41206/" />
    <add key="CurUrl" value="http://localhost:41206" />
    <add key="WesUrl" value="http://localhost:41206/" />
    <add key="ProdimgSepdomainUrl" value="http://cdn-staging.wes.com.au/prodimages" />
    <add key="VirtualPathJPG" value="/prodimages" />
    <add key="addgoogleurl" value="false" />
    <add key="familypagecnt" value="50" />

    <add key="CssScriptsSDUrl" value="http://localhost:41206/" />
    <add key="IPN_MAIL_SEND" value="0" />
    <add key="Brand_image_destination_path" value="images/brands/" />
    <!--<add key="Googlerecaptcha" value="6LfMvyATAAAAAEQrA6JxZhXQYjtXHA5nvOOSkWeY" />-->
    <add key="Googlerecaptcha" value="6LfwliYTAAAAAElhy-wMvHdL-Kp6Lj0Q7eceTx_j" />
    <add key="Modifieddate_exgst" value="https://www.wes.com.au/media/pdf/wescat2017/WESCAT.2017.ExGST.pdf" />
    <add key="Modifieddate_pricelist" value="https://www.wes.com.au/media/pdf/wescat2017/PriceList_2017.pdf" />
    <add key="iRecordsPerPage" value="6" />
    <add key="iRecordsPerPage_ps" value="24" />
    <!--mailchimp-->
    <add key="MailChimp_Url" value="https://us12.api.mailchimp.com/3.0/lists/" />
    <add key="MailChimp_Api_Key" value="e88edb2fccda4b29bf481901cb3cb794" />
    <add key="MailChimp_ListId" value="6b121e9a0a" />
    <add key="TimerInt" value="500" />
    <add key="CDN" value="http://cdn-staging.wes.com.au/WAG/" />
    <add key="Reviewemail" value="indumathi@jtechindia.com" />
    <add key="CDNROOT" value="http://cdn-staging.wes.com.au/" />
    <add key="CDNBANNER" value="http://cdn-staging.wes.com.au/images/Banners/Wagner/" />
    <add key="tomalamtcount" value="100" />
    <add key="Securepayamt" value="100" />
    <add key="Googlerecaptcha" value="6LfwliYTAAAAAElhy-wMvHdL-Kp6Lj0Q7eceTx_j" />


    <!-- Comm bank Start
    <add key="iscommon" value="1" />
    <add key="Debug" value="False" />
    <add key="UseProxy" value="False" />
    <add key="ProxyHost" value="" />
    <add key="ProxyUser" value="" />
    <add key="ProxyPassword" value="" />
    <add key="ProxyDomain" value="" />
    <add key="GatewayHost" value="https://paymentgateway.commbank.com.au" />
    <add key="Version" value="11"/>
    <add key="UseSSL" value="True" />
    <add key="MerchantId" value="TESTWESAUSEVAL01" />
    <add key="Username" value="merchant.TESTWESAUSEVAL01"/>
    <add key="Password" value="579a1a2cd803490993099dba696dd277" />
    <add key="IgnoreSslErrors" value="False" />
    Comm bank End-->

    <add key="iscommon" value="1" />
    <add key="Debug" value="False" />
    <add key="UseProxy" value="False" />
    <add key="ProxyHost" value="" />
    <add key="ProxyUser" value="" />
    <add key="ProxyPassword" value="" />
    <add key="ProxyDomain" value="" />
    <add key="GatewayHost" value="https://paymentgateway.commbank.com.au" />
    <add key="Version" value="57" />
    <add key="UseSSL" value="True" />
    <add key="MerchantId" value="TESTWESAUSEVAL01" />
    <add key="Username" value="merchant.TESTWESAUSEVAL01" />
    <add key="Password" value="579a1a2cd803490993099dba696dd277" />
    <add key="IgnoreSslErrors" value="False" />
    <add key="AuthReturnURL" value="http://localhost:41206/3ds.aspx?Authstaus=Aftersecure&amp;orderid=" />
    <!--Till Payment Gateway Settings -->
    
    <!--Staging Setting-->
   <!-- <add key="TillGateWayURLPost" value="https://test-gateway.tillpayments.com/api/v3/transaction/JgJVM3cHT5mCQk8yJQX5NdvWRrRtGH/debit" />
    <add key="TillGateWayURLGet" value="https://test-gateway.tillpayments.com/api/v3/status/JgJVM3cHT5mCQk8yJQX5NdvWRrRtGH/getByMerchantTransactionId/" />
    <add key="TillUsername" value="WesAlliance_API_Dev" />
    <add key="TillPassword" value="*G)dU$1DP$(wOsb&amp;r)XtYRh/+dHtd" />
    <add key="TillScuccess" value="http://localhost:41206/BillInfoSP.aspx?success=true&amp;till=Y&amp;key=" />
    <add key="TillError" value="http://localhost:41206/ExpressCheckout.aspx?error=true&amp;till=Y&amp;OrderID=" />
    <add key="TillError_paysp" value="http://localhost:41206/CheckOut.aspx?error=true&amp;till=Y&amp;OrderID=" />
    <add key="TillError_int" value="http://localhost:41206/PayOnline_International.aspx?error=true&amp;till=Y&amp;OrderID=" />
    <add key="Tillcallback" value="http://localhost:41206/BillInfo?transid=" />-->
    <!--<add key="Tillcallback" value="http://staging.wiretek.com.au/api/BillInfo?transid=" />-->
    <!--<add key="TillCancel" value="http://localhost:41206/BillInfoSP.aspx?cancel=true&amp;till=Y&amp;OrderID=" />-->
    
    <add key="TillGateWayURLPost" value="https://gateway.tillpayments.com/api/v3/transaction/HywkXO7mayo4DlpMVpAHUmgOyvWmTu/debit" />
    <add key="TillGateWayURLGet" value="https://gateway.tillpayments.com/api/v3/status/HywkXO7mayo4DlpMVpAHUmgOyvWmTu/getByMerchantTransactionId/" />
    <add key="TillUsername" value="WagnerElectronics_API_Live" />
    <add key="TillPassword" value="BLzMbglq#rSa2GX@=Yi+8EW/tY_.l" />
    <add key="TillScuccess" value="https://www.wagneronline.com.au/BillInfoSP.aspx?success=true&amp;till=Y&amp;key=" />
    <add key="TillError" value="https://www.wagneronline.com.au/ExpressCheckout.aspx?error=true&amp;till=Y&amp;OrderID=" />
    <add key="TillError_paysp" value="https://www.wagneronline.com.au/CheckOut.aspx?error=true&amp;till=Y&amp;OrderID=" />
    <add key="TillError_int" value="https://www.wagneronline.com.au/PayOnline_International.aspx?error=true&amp;till=Y&amp;OrderID=" />
    <add key="Tillcallback" value="https://www.wagneronline.com.au/BillInfo?transid=" />
    <!--<add key="Tillcallback" value="https://www.wagneronline.com.au/api/BillInfo?transid=" />-->
    <add key="TillCancel" value="https://www.wagneronline.com.au/BillInfoSP.aspx?cancel=true&amp;till=Y&amp;OrderID=" />
  
  </appSettings>
  <connectionStrings>
    <!--172.30.20.58-->
    <!--<add name="DBConnectionString" connectionString="g3bw0WziuqHH51HRdA9vRooEUPO/ydK2HbZCbPwJ+79VcNsUiksw8AEyIKroTw+BVerhhV9qeqLTglowMiNoblS1T5TrXfhUwQm6sIedeQT3/MlpGg9oHup8LIg8coMcTtUOYRy2bpxndzR4Evpx4w==" />
    <add name="TBWebCatShoppingCartConnString" connectionString="g3bw0WziuqHH51HRdA9vRooEUPO/ydK2HbZCbPwJ+79VcNsUiksw8AEyIKroTw+BVerhhV9qeqLTglowMiNoblS1T5TrXfhUwQm6sIedeQT3/MlpGg9oHuFSnICNMdTH9JfUin8URf/OWpiX/gkOs2kxUrshvgyC988bGJ6v6LRTSxU2JLbK4A==" />-->
<!--172.30.20.60-->
    <add name="DBConnectionString" connectionString="g3bw0WziuqHH51HRdA9vRt/TS3TLAUwMHbZCbPwJ+79VcNsUiksw8IAFRwOXLtYT5uHSGqZK5w6GoNb8GBkPtPgAZPVJ1TAF8dovzSZGM8TOTrodBT8rjVmq/CFlXCTXFCObIljzNJk9eA8wMqcjz+NnU2gAefWu" />
		<add name="TBWebCatShoppingCartConnString" connectionString="g3bw0WziuqHH51HRdA9vRt/TS3TLAUwMHbZCbPwJ+79VcNsUiksw8IAFRwOXLtYT5uHSGqZK5w6GoNb8GBkPtPgAZPVJ1TAF8dovzSZGM8TOTrodBT8rjS2a1vY3BSADte86XBQOLP8dxDHUDiGWmq/ParZ1DZJ42ywCFZOsrtEEN3Bs7JB2Rj2FMqHg4Lhl" />


  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
